---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for entry in collections.all | sort(attribute='url') -%}
  {%- if entry.url and entry.url != '/sitemap.xml' -%}
  <url>
    <loc>{{ entry.url | absoluteUrl }}</loc>
  </url>
  {%- endif -%}
{%- endfor -%}
</urlset>
